<div class="jumbotron bussg">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-2">
        <h1><img src="images/bussg/AppIcon.png" alt="bus@sg app icon"> bus@sg</h1>
        <p>bus@sg provides real-time bus arrival prediction for SBS and SMRT bus routes in Singapore.</p>
      </div>

      <div class="col-md-2">
        <p>
          <a href="https://itunes.apple.com/app/bus-sg/id340744554?mt=8" target="_blank"><img src="images/AppStoreBadge.png" alt="Download on the App Store"></a>
        </p>
        <p>
          <a href="https://play.google.com/store/apps/details?id=com.happenapps.bussg" target="_blank">
            <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
          </a>
        </p>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="container features">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <!-- Screenshots -->
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Screenshots</h2>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="thumbnail">
            <img src="images/bussg/screenshot1.jpg" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="thumbnail">
            <img src="images/bussg/screenshot2.jpg" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="thumbnail">
            <img src="images/bussg/screenshot3.jpg" alt="">
          </a>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- START THE FEATURETTES -->
      <div class="row">
        <div class="col-md-6 featurette">
          <h2>Save to favourites</h2>
          <p>Save bus stops to your favourites for easy access. You can also enable auto-loading for individual routes plying through a favourite stop.</p>
        </div>
        <div class="col-md-6 featurette">
          <h2>Find nearby stops</h2>
          <p>bus@sg shows you a list of bus stops near your current location, sorted by distance.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-md-6 featurette">
          <h2>Map and search</h2>
          <p>bus@sg has a full-size map with integrated search. You can quickly find a bus stop by its name, stop id or road name.</p>
        </div>
        <div class="col-md-6 featurette">
          <h2>Routes</h2>
          <p>You can browse all the bus routes in Singapore, and look up the list of stops each route plies.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-md-6 featurette">
          <h2>Schedules</h2>
          <p>bus@sg also provides full schedules for each route, including first bus time, last bus time and frequencies.</p>
        </div>
        <div class="col-md-6 featurette">
          <h2>Up-to-date</h2>
          <p>bus@sg updates bus routes automatically, so you always have the latest information.</p>
        </div>
      </div>

    </div>
  </div>
</div>
<hr class="featurette-divider">
