<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item quiver active">
      <div class="carousel-caption">
        <div class="inner-table">
          <div class="inner-table-cell">
            <a href="#quiver" class="thumbnail">
              <img src="images/quiver/screenshot1.png" alt="Quiver">
            </a>
            <p>Quiver: The Programmer's Notebook</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item bussg">
      <div class="carousel-caption">
        <div class="inner-table">
          <div class="inner-table-cell">
            <a href="#bussg" class="thumbnail">
              <img src="images/bussg/screenshot1.jpg" alt="bus@sg">
            </a>
            <p>bus@sg: The Singapore Bus App</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
