<div class="jumbotron">
  <h1><img src="images/hangman/LittleHangmanIcon256.png" alt="Little Hangman app icon"> Little Hangman</h1>
  <p class="lead">Little Hangman is a modern rendition of the classic Hangman game, lovingly created just for kids.</p>
  <p><a href="https://itunes.apple.com/app/little-hangman/id386874823?mt=8" target="_blank"><img src="images/AppStoreBadge.png" alt="Download on the App Store"></a></p>
</div>

<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-6">
    <h2 class="featurette-heading">Beautiful themes.</h2>
    <p class="lead">Little Hangman comes with four beautifully designed themes: blackboard, graph paper, meadow and brick wall.</p>
  </div>
  <div class="col-md-6">
    <img class="featurette-image img-responsive" src="images/hangman/screenshot1.png" alt="Little Hangman screenshot">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-6">
    <img class="featurette-image img-responsive" src="images/hangman/screenshot2.png" alt="Little Hangman screenshot">
  </div>
  <div class="col-md-6">
    <h2 class="featurette-heading">Carefully selected word lists.</h2>
    <p class="lead">We hand-picked word lists that are kids-friendly. The word lists cover K-6 words, animals, plants and many other cateogies.</p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-6">
    <h2 class="featurette-heading">No score, no timer, no pressure.</h2>
    <p class="lead">Playing a word puzzle game should be fun. Win or lose, you will be delighted by joyful jingles and lovely animations.</p>
  </div>
  <div class="col-md-6">
    <img class="featurette-image img-responsive" src="images/hangman/screenshot3.png" alt="Little Hangman screenshot">
  </div>
</div>

<hr class="featurette-divider">


<!-- Three columns of text for small features -->
<div class="row">
  <div class="col-lg-4">
    <img src="images/hangman/ChallengeModeIcon.png" alt="Challenge icon">
    <h2>Challenge Mode</h2>
    <p>In the challenge mode you can enter a word then let another player guess it. It's a lot of fun for parents to play with kids.</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img src="images/hangman/TabletIcon.png" alt="Tablet icon">
    <h2>Portrait and Landscape</h2>
    <p>Little Hangman is designed for both portrait and landscape modes. Hold you iPad any way you want, and the game always looks great.</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img src="images/hangman/ShieldIcon.png" alt="Shield icon">
    <h2>Kids Safe</h2>
    <p>Little Hangman does not have in-app purchases or ads. It does not collect any information about the user. You can be rest assured that it's safe for kids to play.</p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<hr class="featurette-divider">
