<!-- Navbar -->
<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home">HappenApps</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#productivity">Productivity</a></li>
            <li><a href="#utilities">Utilities</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#game">Game</a></li>
            <li><a href="#opensource">Open Source</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://happenapps.tumblr.com/" target="_blank">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <p class="text-center">Copyright &copy; 2014 HappenApps, Inc. All rights reserved. &middot; <a href="mailto:support@happenapps.com">Contact Us</a></p>
</footer>
