<!-- Fixed navbar -->
<header class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li data-tab="quiver"><a href="#quiver">Quiver for Mac</a></li>
        <li data-tab="quiver-ios"><a href="#quiver-ios">Quiver for iOS</a></li>
        <li data-tab="bussg"><a href="#bussg">bus@sg</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- Content area -->
<div id="content-container"></div>

<!-- Footer -->
<footer>
  <p class="text-center">
    <a href="http://happenapps.com">
      <img class="logo" src="images/HappenAppsLogo.png" alt="HappenApps Logo">
    </a>
  </p>
  <p class="text-center">
    Copyright &copy; 2017 HappenApps, Inc. All rights reserved.
  </p>
  <p class="text-center">
    <a href="mailto:support@happenapps.com">Contact Us</a> &middot; <a href="https://twitter.com/happenapps" target="_blank">Twitter</a>
  </p>
</footer>

<!-- Modal -->
<div id="modal-container" class="modal fade" tabindex="-1" role="dialog"></div>
