<!-- Navbar -->
<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home">HappenApps</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li data-tab="productivity"><a href="#productivity">Productivity</a></li>
          <li data-tab="utilities"><a href="#utilities">Utilities</a></li>
          <li data-tab="education"><a href="#education">Education</a></li>
          <li data-tab="opensource"><a href="#opensource">Open Source</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://happenapps.tumblr.com/" target="_blank">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <p class="text-center">Copyright &copy; 2014 HappenApps, Inc. All rights reserved. &middot; <a href="mailto:support@happenapps.com">Contact Us</a></p>
  <p class="text-center">Built with <a href="http://muffin.io/" target="_blank">Muffin</a> and <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>.</p>
</footer>
