<div class="jumbotron quiver">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-3">
        <h1 class="text-center">
          <img src="images/quiver/AppIcon.png" alt="Quiver app icon">
          <span>Quiver</span>
        </h1>
        <h3 class="text-center">The Programmer's Notebook</h3>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <p class="text-center"><a href="https://itunes.apple.com/app/quiver-programmers-notebook/id866773894?ls=1&mt=12" target="_blank"><img src="images/MacAppStoreBadge.png" alt="Download on the Mac App Store"></a></p>
      </div>
    </div>
  </div>
</div>

<div class="container screenshot-container">
  <div class="row banner-image">
    <div class="col-md-10 col-md-offset-1">
      <img class="img-responsive bordered" src="images/quiver/screenshot1.jpg" alt="Quiver screenshot">
    </div>
  </div>
</div>

<div class="container features">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!-- Overview -->
      <hr class="featurette-divider">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Overview</h2>
          <p class="lead">Quiver is a note-taking app built for programmers. Its unique cell-based design lets you easily mix text and code within one note, edit code with an awesome code editor, and find any note instantly via the full-text search.</p>
        </div>
      </div>

      <!-- Screenshots -->
      <hr class="featurette-divider">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Screenshots</h2>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="thumbnail">
            <img src="images/quiver/screenshot1.jpg" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="thumbnail">
            <img src="images/quiver/screenshot2.jpg" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="thumbnail">
            <img src="images/quiver/screenshot3.jpg" alt="">
          </a>
        </div>
      </div>

      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="row">
        <div class="col-md-6 featurette">
          <h2>Mix text with code</h2>
          <p>A note in Quiver is comprised of cells --- snippets of text or code. You can freely mix text cells with code cells, even setting different language modes for different code cells, all inside one note.</p>
        </div>
        <div class="col-md-6 featurette">
          <h2>An awesome code editor</h2>
          <p>The programmer's notebook should make code editing effortless. Quiver packs the awesome ACE code editor in code cells, which supports syntax highlighting for most languages, over 20 themes, automatic indent and outdent, and much more.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-md-6 featurette">
          <h2>Lightning-fast full-text search</h2>
          <p>Notes are only useful if you can find them quickly. Quiver's full-text search is based on Search Kit, the same technology used to power Spotlight on your mac. That's how Quiver can search through thousands of notes in a blink of an eye.</p>
        </div>
        <div class="col-md-6 featurette">
          <h2>Edit In Place</h2>
          <p>Whether you are writing code or changing text styles, edits are always made in-place. There is no mode switching in Quiver. You just click where you want to edit and start typing.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-md-6 featurette">
          <h2>Tags</h2>
          <p>If organizing notes into notebooks isn't enough for you, Quiver also lets you assign tags to each note, so you can manage your notes any way you like.</p>
        </div>
        <div class="col-md-6 featurette">
          <h2>Plain JSON</h2>
          <p>Quiver saves your notes in the plain JSON format, so you have full control over your content. You can export a note in the JSON or HTML format, or print it to PDF.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="featurette-divider">
