<div class="jumbotron">
  <h1><img src="images/sgshowtime/ShowtimeIcon256.png" alt="SG Showtime app icon"> SG Showtime</h1>
  <p class="lead">SG Showtime provides movie showtimes for all major cinemas in Singapore. It also lets you watch movie trailers, find cinemas near you, and book movie tickets.</p>
  <p>
    <a href="https://itunes.apple.com/app/sg-showtime/id430269647?mt=8" target="_blank"><img src="images/AppStoreBadge.png" alt="Download on the App Store"></a>
    <a href="https://play.google.com/store/apps/details?id=com.happenapps.sgshowtime" target="_blank">
      <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
    </a>
  </p>
</div>

<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5 col-md-offset-1">
    <h2 class="featurette-heading">Showtimes for all cinemas.</h2>
    <p class="lead">SG Showtime provides movie showtimes for all major cinemas in Singapore, including Cathay, Golden Village, Shaw, and Filmgarde.</p>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <img class="featurette-image img-responsive" src="images/sgshowtime/screenshot1.jpg" alt="SG Showtime screenshot">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5 col-md-offset-1">
    <img class="featurette-image img-responsive" src="images/sgshowtime/screenshot2.jpg" alt="SG Showtime screenshot">
  </div>
  <div class="col-md-5">
    <h2 class="featurette-heading">New releases and upcoming.</h2>
    <p class="lead">SG Showtime provides detailed movie info for both new releases and upcoming movies. The movie info includes director, cast, language, genre and synopsis.</p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-5 col-md-offset-1">
    <h2 class="featurette-heading">Check seats and book tickets.</h2>
    <p class="lead">Check seats and book movie tickets online from Cathay, Golden Village, Shaw, and Filmgarde.</p>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <img class="featurette-image img-responsive" src="images/sgshowtime/screenshot3.jpg" alt="SG Showtime screenshot">
  </div>
</div>

<hr class="featurette-divider">


<!-- Three columns of text for small features -->
<div class="row">
  <div class="col-lg-4">
    <img src="images/sgshowtime/TrailerIcon.png" alt="Trailer icon">
    <h2>Watch Trailers</h2>
    <p>SG Showtime lets you watch movie trailers right inside the app. Enjoy the high-definition movie trailers at home or on the go.</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img src="images/sgshowtime/NearbyIcon.png" alt="Nearby icon">
    <h2>Nearby Cinemas</h2>
    <p>Want to find a cinema near you? SG Showtime shows you a list of nearby cinemas sorted by distance.</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img src="images/bussg/CheckmarkIcon.png" alt="Checkmark icon">
    <h2>Updated Daily</h2>
    <p>SG Showtime updates its movies and showtimes data every day, so you always have the latest information.</p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<hr class="featurette-divider">
